<header class="header" id="header">
  <div class="div-header container">
    <nav class="header-nav">
      <a class="logo" href="./index.html">
        <svg class="icon-logo" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="logo-header" width="148" height="12">
          <use href="./img/icons.svg#icon-GreenHarvest"></use>
        </svg>
      </a>
      <div class="div-nav">
        <ul class="ul-nav">
          <li><a class="nav-li scroll-to" href="#works">How It Works</a></li>
          <li><a class="nav-li scroll-to" href="#veg-sec">Vegetables</a></li>
          <li><a class="nav-li scroll-to" href="#rewiews">Reviews</a></li>
        </ul>
        <button class="button" type="button">Shop now</button>
      </div>

      <button type="button" class="open-menu" data-mobile-open>
        <!-- <svg  width="32" height="32"> 
              <use href="./img/icons.svg#icon-close-mobile"></use> 
            </svg> -->
        <svg
          class="svg-header-menu"
          width="26"
          height="20"
          viewBox="0 0 26 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.33334 2H23.6667M2.33334 10H13M2.33334 18H23.6667"
            stroke="#FBFBFB"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </nav>
  </div>
  <!---Mobile---->
</header>
<div class="mob-menu" data-mobile>
  <div class="tab-background"></div>
  <div class="mob-modal">
    <button type="button" class="btn-mob" data-mobile-close>
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M24 8L8 24"
          stroke="#FBFBFB"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M8 8L24 24"
          stroke="#FBFBFB"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <nav>
      <ul class="mob-nav-ul">
        <li>
          <div class="mob-nav loop">
            <a class="mob-nav-a scroll-to" href="#works">How It Works</a>
          </div>
        </li>
        <li>
          <div class="mob-nav">
            <a class="mob-nav-a scroll-to" href="#veg-sec">Vegetables</a>
          </div>
        </li>
        <li>
          <div class="mob-nav">
            <a class="mob-nav-a scroll-to" href="#rewiews">Reviews</a>
          </div>
        </li>
      </ul>
    </nav>
    <button class="mob-btn" type="button">Shop now</button>
  </div>
</div>
