<section class="order" id="section-order">
  <div class="container order-container">
    <h2 class="order-title">Fresh <span class="title-harvest">Harvest</span> Box has got you covered</h2>
    <p class="text-discribe">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>


    <div class="order-div-links">
      <div class="order-div">
        <p class="title-form">Ordering <span class="form-us">from us</span> is quick and easy! Fill out <span class="the-form">the form</span> below and we will contact you !</p>
        <form class="order-form">
  
        
            <div class="input-text">
              <input type="text" placeholder="Full Name" name="user-name" class="info-input" id="user-name" />
            </div>
          
            <div class="input-text">
              <input class="info-input valid-email" type="email" name="email" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required/>
                <p class="text-valid">Succes!</p>
                <p class="text-invalid">Invalid email, try again</p>
            </div>
          
          <div class="textarea">
            <textarea name="user-comment" id="user-comment" rows="6" class="textarea-input" placeholder="Comment"></textarea>
          </div>
    
          <button type="submit" class="send-button">Send</button>
        </form>
      </div>
  
      <div class="order-links">
        <picture>
          <source media="(min-width: 1280px)" srcset="/img/order/order-desk.jpg 1x, /img/order/order-desk@2x.jpg 2x"/>
          <source media="(min-width: 768px)" srcset="/img/order/order-tab.jpg 1x, /img/order/order-tab@2x.jpg 2x"/>
          <source media="(max-width: 767px)" srcset="/img/order/order-mob.jpg 1x, /img/order/order-mob@2x.jpg 2x"/>
          
          <img
                  srcset="/img/order/order-mob.jpg 1x, /img/order/order-mob.jpg 2x"
                  src="/img/order/order-mob.jpg"
                  alt="Fresh vegetables "
                  width="295"
                  class="img-order"
                />
        </picture>
  
  
        <div class="links-block">
          <p class="soc-net">Follow us on our social networks:</p>
          <ul class="soc-links-follow">
            <li class="inst-fac-yout">
              <a href="https://www.instagram.com/goitclub/"
                target="_blank"
                class="soc-link">instagram</a>
            </li>

            <li class="slash">
                /
            </li>
  
            <li class="inst-fac-yout">
              <a href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="soc-link">facebook</a>
            </li>

            <li class="slash">
              /
          </li>
  
            <li class="inst-fac-yout">
              <a href="https://www.youtube.com/c/GoIT"
                target="_blank"
                class="soc-link">youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>