<section class="rewiews container" id="rewiews">
  <div class="reviews-header">
    <h2 class="reviews-title">
      Reviews from our <span class="reviews-title-span">customers</span>
    </h2>
    <p class="reviews-description">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
  </div>

  <div class="containers1 swiper-container 34">
    <ul class="slider-list swiper-wrapper">
      <li class="slider-item swiper-slide">
        <div class="card">
          <img
            class="reviews-img"
            src="/img/rewiews/customer-1.png"
            srcset="
              /img/rewiews/customer-1.png    1x,
              /img/rewiews/customer-1-2x.png 2x
            "
            alt="John Wax"
            width="56"
            height="56"
          />
          <h2 class="card-title">John Wax</h2>
          <p class="card-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="card">
          <img
            class="reviews-img"
            src="/img/rewiews/customer-2.png"
            srcset="
              /img/rewiews/customer-2.png    1x,
              /img/rewiews/customer-2-2x.png 2x
            "
            alt="Victoria Romashenko"
            width="56"
            height="56"
          />
          <h2 class="card-title">Victoria Romashenko</h2>
          <p class="card-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="slider-item swiper-slide">
        <div class="card">
          <img
            class="reviews-img"
            src="/img/rewiews/customer-3.png"
            srcset="
              /img/rewiews/customer-3.png    1x,
              /img/rewiews/customer-3-2x.png 2x
            "
            alt="Ihor Trachuk"
            width="56"
            height="56"
          />
          <h2 class="card-title">Ihor Trachuk</h2>
          <p class="card-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
      <!-- Добавьте другие элементы слайдера здесь -->
    </ul>
  </div>
</section>
