*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-style: normal;
}

.header {
  top: 20px;
  height: 32px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.header .container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon-logo,
.logo-header,
.svg-header-menu {
  fill: #fbfbfb;
}

.svg-header-menu {
}

/* .logo, 
.logo-header, 
.svg-header-menu { 
  color: #fbfbfb; 
} */

/* .icon-logo:hover, 
.icon-logo:focus { 
  width: 18px; 
  height: 18px; 
} */

/* .logo-header:hover, 
.logo-header:focus { 
  width: 168px; 
  height: 15px; 
} 
 
.svg-header-menu:hover, 
.svg-header-menu:focus { 
  width: 40px; 
  height: 40px; 
} */

.ul-nav {
  display: none;
}

.nav-li {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  width: 114px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  flex: none;
}

.nav-li:focus,
.nav-li:hover {
  color: #576f35;
  background-color: #fbfbfb;
}

.button {
  display: none;
}

.open-menu {
  background-color: transparent;
  border: none;
}

.mob-menu {
  position: fixed;
  overflow: auto;
  /* top: -20px; */
  right: 0;

  height: 100vh;
  z-index: 1;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #7a3145;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 240px;
  padding-bottom: 40px;
  position: relative;
}

.btn-mob {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  top: 28px;
  right: 28px;
  padding: 0;
  cursor: pointer;
  border: 0;
}

.open:hover,
.open:focus {
  width: 40px;
  height: 40px;
}

.mob-nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 340px;
}

.mob-nav {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: auto;
  padding-right: auto;
  width: 114px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
}
.mob-nav.loop {
  color: #7a3145;
  background-color: #fbfbfb;
}

.mob-nav:focus,
.mob-nav:hover {
  color: #7a3145;
  background-color: #fbfbfb;
}

.mob-btn {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 16px 41px;
  width: 157px;
  height: 52px;
  background: #fbfbfb;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border: 0;
  margin-bottom: auto;
  position: absolute;
  bottom: 40px;
}

.mob-btn:hover,
.mob-btn:focus {
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: #fbfbfb;
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .header .container {
    min-width: 375px;
  }

  .header {
    width: 375px;
  }
  .mob-menu {
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    width: 768px;
    padding: 0 32px;
  }

  .header {
    margin-top: 32px;
    height: 40px;
    width: 768px;
  }
  .icon-logo {
    width: 18px;
    height: 18px;
  }
  .logo-header {
    width: 168px;
    height: 15px;
  }
  .mob-modal {
    padding-top: 360px;
  }
  .mob-menu {
    width: 351px;

    height: 100vh;
  }

  .btn-close {
    top: 32px;
    right: 32px;
  }
  .mob-btn:hover,
  .mob-btn:focus {
    border: 1px solid rgba(251, 251, 251, 0.2);
    background: #fbfbfb;
    text-transform: uppercase;
    color: rgba(122, 49, 69, 0.7);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    height: 52px;
    width: 100%;
  }
  .header .container {
    width: 1280px;
    padding: 0 100px;
  }

  .ul-nav {
    display: flex;
    gap: 8px;
  }

  .svg-header-menu {
    display: none;
  }

  .div-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .button {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 16px 32px;
    height: 52px;
    border: none;
    background: #7a3145;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-left: 20px;
  }

  .button:focus,
  .button:hover {
    background: #622133;
    border: none;
  }

  .button:active {
    background: #fbfbfb;
    color: #7a3145;
  }

  .mob-menu {
    display: none;
  }
}
